.btn-success 
{
    color: #fff;
    background-color: #979797 !important;
    border-color: #979797 !important;
}

.navbar
{
	margin: 0 !important;
}

img
{
	width: 100%;
}

.col-sm-4
{
	padding-top: 15px;
	padding-bottom: 15px; 
}

.col-sm-8
{
	padding-top: 15px;
	padding-bottom: 15px; 
}


footer{
  position: absolute !important;
  bottom: 0 !important; 
  left: 0 !important; 
  right: 0 !important;
}


